:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: black;
}

h1,
p {
	color: yellow;
	text-align: center;
	font-size: 2rem;
}

p {
	background-color: teal;
	padding: 1rem;
	border: 0.1rem solid red;
	margin: 2.5rem;
}
